<div class="row">
    <div class="col-md-4" ng-repeat="item in torneos">    
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="page-header" ng-show="item.isCurrent"><h3 class="text-center">En Progreso</h3></div>
                    <div class="page-header" ng-hide="item.isCurrent"><h3 class="text-center">Finalizado</h3></div>
                    <div><h2 class="text-center">{{item.nombre}}</h2></div>
                </li>
            </ul>
    </div>
</div>