
<div layout="row" layout-margin  layout-wrap layout-align ="center center">
    <div flex="60" flex-sm="90">
        <form name="formCrearTorneo" novalidate>

            <blockquote>
                <div ng-show="torneo.nombre"><h5><strong>Nombre: </strong>{{torneo.nombre}}</h5></div>
                <div ng-show="torneo.descripcion"><h5><strong>Descripción: </strong> {{torneo.descripcion}}</h5></div>
                <div ng-show="torneo.inicio"><h5><strong>Fecha Inicio: </strong> {{torneo.inicio | date: "MMMM - yyyy"}}</h5></div>
                <div ng-show="torneo.fin"><h5><strong>Fecha Finalización: </strong> {{torneo.fin | date: "MMMM - yyyy"}}</h5></div>
            </blockquote>

            <md-input-container flex>
                <label>Torneo</label>
                <input ng-model="torneo.nombre" placeholder="Nombre" required />
            </md-input-container>

            <md-input-container flex>
                <label>Cantidad de Fechas</label>
                <input type="number" ng-model="torneo.fechas" placeholder="Cantidad Fechas" required />
            </md-input-container>

            <md-input-container flex>
                <label>Descripción</label>
                <textarea ng-model="torneo.descripcion"></textarea>
            </md-input-container>

            <div layout layout-sm="column">
                <div flex="40" layout="row" layout-padding>
                    <input class="md-button" ng-model="torneo.inicio" placeholder="Fecha Inicio" datepicker-popup="MM - yyyy" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}" is-open="opened1" show-button-bar="false" disabled />
                    <span flex></span>
                    <md-button ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></md-button>
                </div>
                <span flex></span>
                <div flex="40" layout="row" layout-padding>
                    <input class="md-button" ng-model="torneo.fin" placeholder="Fecha Finalización" datepicker-popup="MM - yyyy" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}" is-open="opened2" show-button-bar="false" disabled/>
                    <span flex></span>
                    <md-button ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></md-button>
                </div>
            </div>
            
            <div layout>
                <md-select ng-model="selectedTeams" placeholder="Seleccione Equipo" multiple>
                    <md-checkbox ng-repeat="equipo in equipos | filter: {esPrimera:false}" ng-click="selection(equipo.nombre)">
                        {{equipo.nombre}}
                    </md-checkbox>
                </md-select> 
            </div>
          
            <div layout="row" layout-margin>
                <md-button ng-click="reset()" ng-disabled="!torneo" style="margin-right: 20px">Limpiar</md-button>
                <md-button ng-click="crearTorneo(torneo)" ng-disabled="formCrearTorneo.$invalid" class="md-raised md-primary">Crear</md-button>
            </div>
        </form>
        
    </div>
</div>





