<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="FDPApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>FDPApp</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/angular-material.min.css" rel="stylesheet" />
</head>

<body layout="row" ng-controller="NavController as navCtrl">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-2"></md-toolbar>
        <md-content flex>
            <md-list>
                <md-button layout-fill><div layout="row" style="margin-left:10px"><h3>En Progreso</h3></div></md-button>
                <md-list-item class="md-2-line" ng-repeat="item in navCtrl.torneos | filter: {isCurrent:true}">
                    <md-button ui-sref="torneo({id: item.id})" layout-fill><div layout=row style="margin-left:50px">{{item.nombre}} {{item.temporada}}</div></md-button>
                </md-list-item>
                <md-divider></md-divider>

                <md-button layout-fill><div layout="row" style="margin-left:10px"><h3>Anteriores</h3></div></md-button>
                <md-list-item class="md-2-line" ng-repeat="item in navCtrl.torneos | filter: {isCurrent:false}">
                    <md-button layout-fill><div layout=row style="margin-left:50px">{{item.nombre}} {{item.temporada}}</div></md-button>
                </md-list-item>
                <md-divider></md-divider>

                <md-button layout-fill><div layout="row" style="margin-left:10px"><h3>Últimos Campeones</h3></div></md-button>
                <md-divider></md-divider>
                <md-button layout-fill><div layout="row" style="margin-left:10px"><h3>Estadísticas</h3></div></md-button>
                <md-divider></md-divider>
                <md-button ui-sref="nuevoTorneo" layout-fill><div layout="row" style="margin-left:10px"><h3>Nuevo Torneo</h3></div></md-button>
            </md-list>       
        </md-content>
    </md-sidenav>

    <div layout="column" flex>
        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
            <h1 class="md-toolbar-tools-bottom" layout-margin style="margin-left:80px"><span class="md-flex">Fútbol de Primera</span></h1>
        </md-toolbar>
        <md-content flex md-scroll-y ui-view>
            
        </md-content>
    </div>


    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/ui-bootstrap.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls.min.js"></script>

    <script src="App/app.js"></script>
    <script src="App/Services/appService.js"></script>


</body>
</html>
