<div ng-hide="torneo.fixture.fechas.length == 0">
    <tabs-page></tabs-page>
    <div><p>UN SLIDER CON NOVEDADES SOBRE EL TORNEO</p></div>
</div>
<div layout="column">
    <form name="formCrearFixture" ng-show="torneo.fixture.fechas.length == 0" novalidate>
        <md-content layout="column" layout-padding>
            <p>El torneo actual no tiene partidos cargados. Cargar fixture</p>
            <md-divider></md-divider>

            <div layout="row" layout-padding>
                <div flex="40" layout="row">
                    <label layout-fill layout-margin>Equipo Distinto:</label>
                    <md-select layout-fill layout-margin ng-model="equipoDistinto" placeholder="Seleccione Equipo" required>
                        <md-option ng-value="equipo.nombre" ng-repeat="equipo in torneo.equipos | orderBy:'nombre'">{{equipo.nombre}}</md-option>
                    </md-select>
                </div>
                <span flex></span>
                <div ng-show="equipoDistinto" flex="50" layout="row">
                    <div flex="50"><label>Equipo:</label> {{equipoDistinto}}</div>
                    <md-checkbox flex="40" layout-fill layout-margin ng-model="esLocalDistinto" aria-label="Local" ng-true-value="'Local'" ng-false-value="'Visitante'"><label>1º fecha:</label><span ng-show="esLocalDistinto == null"> Visitante</span><span ng-hide="esLocalDistinto == null"> {{esLocalDistinto}}</span></md-checkbox>
                </div>
                <span flex></span>
            </div>
            <md-divider></md-divider>

            <div layout="row" layout-padding>
                <div flex="40" layout="row">
                    <label layout-fill layout-margin>Equipo Pareja:</label>
                    <md-select layout-fill layout-margin ng-model="equipoPareja" placeholder="Seleccione Equipo" required>
                        <md-option ng-value="equipo.nombre" ng-repeat="equipo in torneo.equipos | orderBy:'nombre' | filter: {nombre: '!' + equipoDistinto} ">{{equipo.nombre}}</md-option>
                    </md-select>
                </div>
                <span flex></span>
                <div ng-show="equipoPareja" flex="50"><label>Equipo:</label> {{equipoPareja}}</div>
                <span flex></span>
            </div>
            <md-divider></md-divider>

            <div layout="row" layout-padding>
                <div flex="40" layout="row">
                    <label layout-fill layout-margin>Equipo Elegido:</label>
                    <md-select layout-fill layout-margin ng-model="equipoElegido" placeholder="Seleccione Equipo" required>
                        <md-option ng-value="equipo.nombre" ng-repeat="equipo in torneo.equipos | orderBy:'nombre' | filter: {nombre: '!' + equipoDistinto}">{{equipo.nombre}}</md-option>
                    </md-select>
                </div>
                <span flex></span>
                <div ng-show="equipoElegido" flex="50" layout="row">
                    <div flex="50"><label>Equipo:</label> {{equipoElegido}}</div>
                    <md-checkbox flex="40" layout-fill layout-margin ng-model="esLocalElegido" aria-label="Local" ng-true-value="'Local'" ng-false-value="'Visitante'"><label>1º fecha:</label><span ng-show="esLocalElegido == null"> Visitante</span><span ng-hide="esLocalElegido == null"> {{esLocalElegido}}</span></md-checkbox>
                </div>
                <span flex></span>
            </div>
            <md-divider></md-divider>

            <div layout="row" layout-padding>
                <div flex="40" layout="row">
                    <label layout-fill layout-margin>Partidos de {{equipoElegido}}:</label>
                    <md-select layout-fill layout-margin ng-model="partidosEquipo" placeholder="Seleccione Equipo" multiple>
                        <md-checkbox ng-repeat="equipo in torneo.equipos | orderBy:'nombre' | filter: {nombre: '!' + equipoElegido}" ng-click="selection(equipo.nombre)">
                            {{equipo.nombre}}
                        </md-checkbox>
                    </md-select>
                </div>
                <span flex></span>
                <div ng-show="partidosEquipo.length > 0" flex="50">
                    <md-button class="md-raised" ng-click="open()">Ver partidos</md-button>
                </div>
                <span flex></span>
            </div>
            <md-divider></md-divider>
        </md-content>
        <md-button class="md-raised md-primary" ng-click="armarFixture()" ng-disabled="partidosEquipo.length != torneo.equipos.length - 1">Crear Fixture</md-button>
    </form>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="partidos">
        <md-toolbar layout="column">
            <span flex></span>
            <div layout="row" layout-align="center center">{{equipoElegido | uppercase}}</div>
            <span flex></span>
        </md-toolbar>
        <md-content>
            <md-list-item ng-repeat="partido in partidosEquipo">
                <div layout-padding layout-margin><label>{{$index + 1 + 'º' + ' FECHA:'}}</label>  {{partido}}</div>
                <md-divider></md-divider>
            </md-list-item>
            <md-button ng-click="close()">Cerrar</md-button>
        </md-content>
    </md-sidenav>
</div>
    
      

