
<div layout="row" layout-margin layout-wrap layout-align ="center center">
    <div flex="60" flex-sm="90">
        <form layout="column" name="formCrearTorneo" novalidate>
            
            <div>
                <!--TORNEO/TEMPORADA-->
                <div layout="row" layout-sm="column" layout-padding>
                    <md-input-container flex>
                        <label>Torneo</label>
                        <input ng-model="nuevoCtrl.torneo.nombre" required name="nombre"/>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Temporada</label>
                        <input type="number" ng-model="nuevoCtrl.torneo.temporada" min="2010" max="2050" required/>
                    </md-input-container>
                </div>
               
                <!--FECHA INICIO/FIN-->
                <div layout="row" layout-sm="column" layout-align="space-between center" layout-padding>
                    <div flex="40" flex-sm="90" layout="row">
                        <input class="form-control" ng-model="nuevoCtrl.torneo.fechaInicio" placeholder="FECHA INICIO" datepicker-popup="MM-yyyy" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}" is-open="opened1" show-button-bar="false" />
                        <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                    <div flex="40" flex-sm="90" layout="row">
                        <input class="form-control" ng-model="nuevoCtrl.torneo.fechaFin" placeholder="FECHA FINALIZACIÓN" datepicker-popup="MM - yyyy" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}" is-open="opened2" show-button-bar="false" min-date="nuevoCtrl.torneo.fechaInicio"/>
                        <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                </div>
            </div>
            <span layout-padding flex></span>
           
             <div>
                <h2>Fixture</h2>
                <md-divider></md-divider>

                 <!--TOTAL FECHAS/FECHA ESPECIAL/NÚMERO FECHA ESPECIAL-->
                <div layout="row" layout-sm="column"  layout-padding>
                    <md-input-container flex>
                        <label>Cantidad de Fechas</label>
                        <input type="number" ng-model="nuevoCtrl.totalFechas" ng-change="nuevoCtrl.cantidadFechasEquipos()" min="{{nuevoCtrl.totalEquiposPrimera - 1}}" max="40" required />
                    </md-input-container>
                    <div flex layout="column">
                        <span flex></span>
                        <md-checkbox ng-change="nuevoCtrl.cantidadFechasEquipos()" ng-model="nuevoCtrl.fechaEspecial" >Fecha especial</md-checkbox>
                        <span flex></span>
                    </div>
                    <md-input-container ng-show="nuevoCtrl.fechaEspecial && nuevoCtrl.totalFechas" flex >
                        <label>Número de fecha</label>
                        <input type="number" ng-model="nuevoCtrl.fechaEspecialNum" min="1" max="{{nuevoCtrl.totalFechas}}" />
                    </md-input-container>
                </div>
            </div>
            <span layout-padding flex></span>

            <div>
                <h2>Equipos</h2>
                <md-divider></md-divider>
                <div layout="row" layout-padding>
                    <md-input-container flex="50" flex-sm="100">
                        <label>Descensos</label>
                        <input type="number" ng-model="nuevoCtrl.torneo.descensos" min="0" max="10" />
                    </md-input-container>
                </div>  
                <div layout="row" layout-padding ng-show="nuevoCtrl.totalFechas">
                    <div><b layout-padding>Número de Equipos:</b>{{nuevoCtrl.totalEquipos}}</div>
                </div>
                <div ng-show="nuevoCtrl.totalEquipos > nuevoCtrl.totalEquiposPrimera" layout="row" layout-sm="column" layout-padding>
                    <div>
                        <md-checkbox ng-disabled="true" ng-checked="nuevoCtrl.totalEquiposAscendidos == nuevoCtrl.equiposSelec.length"><b> Equipos ascendidos:</b> {{nuevoCtrl.totalEquiposAscendidos}}</md-checkbox>
                    </div>
                    <span flex></span>
                    <md-select flex="50" flex-sm="80" layout-padding layout-fill ng-model="nuevoCtrl.equiposSelec" placeholder="Seleccione Equipo" multiple>
                        <md-checkbox ng-repeat="equipo in nuevoCtrl.equipos | filter: {esPrimera:false} | orderBy: 'nombre'" ng-click="nuevoCtrl.seleccion(equipo.nombre)">{{equipo.nombre}}</md-checkbox>
                    </md-select>
                </div>
            </div>
            <span layout-padding flex></span>    
            <div layout="row" layout-padding>
                <md-button ng-click="nuevoCtrl.reset()" style="margin-right: 20px">Limpiar</md-button>
                <md-button ng-click="nuevoCtrl.crearTorneo()" ng-disabled="formCrearTorneo.$invalid" class="md-raised md-primary">Crear</md-button>
            </div>
        </form>      
    </div>
</div>





