<md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-around center">
        <md-button ng-link="torneo({id: posiciones.id })">Torneo</md-button>
        <md-button ng-link="posiciones({id: posiciones.id })">Posiciones</md-button>
        <md-button ng-disabled="true">Promedios</md-button>
        <md-button ng-link="fixture({ id: posiciones.id })">Fixture</md-button>
        <md-button ng-disabled="true">Equipos</md-button>
        <md-button ng-disabled="true">A las Copas</md-button>
    </div>
</md-toolbar>

<div layout="column">

    <div layout="row" layout-align="space-around start">
        <div flex="45" layout-padding>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Equipo</th>
                        <th class="col-md-1">Pts</th>
                        <th class="col-md-1">J</th>
                        <th class="col-md-1">G</th>
                        <th class="col-md-1">E</th>
                        <th class="col-md-1">P</th>
                        <th class="col-md-1">GF</th>
                        <th class="col-md-1">GC</th>
                        <th class="col-md-1">Dif</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="equipo in posiciones.torneo.teams">
                        <td><md-tooltip md-direction="left">Proximo dos partidos</md-tooltip>{{equipo.name}}</td>
                        <td class="col-md-1">{{equipo.points}}</td>
                        <td class="col-md-1">{{equipo.played}}</td>
                        <td class="col-md-1">{{equipo.won}}</td>
                        <td class="col-md-1">{{equipo.draws}}</td>
                        <td class="col-md-1">{{equipo.lost}}</td>
                        <td class="col-md-1">{{equipo.goalsFor}}</td>
                        <td class="col-md-1">{{equipo.goalsAgainst}}</td>
                        <td class="col-md-1">{{equipo.goalDifference}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div flex="45" layout="column" layout-fill>
            <div ng-show="posiciones.fechaAnterior != null">
                <h2>Última fecha</h2>
                <md-divider></md-divider>
                <br />
                <md-content layout-padding layout-margin class="md-whiteframe-z1">
                    <div ng-repeat="partido in posiciones.fechaAnterior.matches" layout="row">
                        <div flex="30">{{partido.home_team}}</div>
                        <span flex></span>
                        <div flex="5">{{partido.home_result}}</div>
                        <div flex="5">-</div>
                        <div flex="5">{{partido.away_result}}</div>
                        <span flex></span>
                        <div flex="30">{{partido.away_team}}</div>
                    </div>
                </md-content>
            </div>
        
            <div ng-show="posiciones.fechaSiguiente != null">
                <h2>Próxima fecha</h2>
                <md-divider></md-divider>
                <br />
                <md-content layout-padding layout-margin class="md-whiteframe-z1">
                    <div ng-repeat="partido in posiciones.fechaSiguiente.matches" layout="row">
                        <div flex="30">{{partido.home_team}}</div>
                        <span flex></span>
                        <div flex="5">vs</div>
                        <span flex></span>
                        <div flex="30">{{partido.away_team}}</div>
                    </div>
                </md-content>               
            </div>
        </div>
    </div> 

    <div layout-padding layout-margin ng-show="posiciones.fechaActual.gameNumber <= posiciones.fechas.length">
        <h2>Fecha {{posiciones.fechaActual.gameNumber}}</h2>
        <md-divider></md-divider>
        <md-list-item ng-repeat="partido in posiciones.fechaActual.matches | orderBy: 'match_date'" layout="row" layout-padding>

            <!-- FECHA Y HORA SIN CONFIRMAR -->
            <div ng-if="partido.is_confirm == false" layout="row" layout-fill>          
                <div flex="20" layout="row" layout-align="center center"><div flex="60">{{partido.home_team | uppercase}}</div></div>
                <div flex="5" layout="row" layout-align="center center"><div>vs</div></div>
                <div flex="20" layout="row" layout-align="center center"><div flex="60">{{partido.away_team | uppercase}}</div></div>    
                <span flex></span>
                <div flex="20" layout="row" layout-align="center center"><input type="date" class="form-control" ng-model="partido.fecha" /></div>
                <timepicker layout-margin flex="20" ng-model="partido.hora" minute-step="5" show-meridian="false" mousewheel="false"></timepicker> 
                <span flex></span>
                <div flex="5" layout="row" layout-align="center center">
                    <button class="btn btn-default glyphicon glyphicon-ok" ng-click="posiciones.confirmarFechaHora(partido, partido.fecha, partido.hora)"></button>
                </div>
            </div>

            <!-- FECHA Y HORA CONFIRMADA  --> 
            <div ng-if="partido.is_confirm" layout="row" layout-fill>
                <div flex="25" layout="column" layout-margin>
                    <div layout="row">
                        <div>{{partido.match_date | date: 'dd/MM'}}</div>
                        <div> - </div>
                        <div>{{partido.match_date | date: 'HH:mm'}}</div>
                    </div>
                    <div ng-bind="posiciones.getEstadio(partido.home_team)"></div>
                    <div ng-bind="posiciones.getCiudad(partido.home_team)"></div>
                </div>
                <div flex="25" layout="row" layout-align="center center"><div flex="60">{{partido.home_team | uppercase}}</div></div>
                <div ng-hide="partido.home_result == null" flex>{{partido.home_result}}</div>
                <div ng-show="partido.home_result == null" flex layout="row" layout-align="center center"><input type="number" min="0" max="15" ng-model="resLocal" /></div>
                <div flex="5" layout="row" layout-align="center center"><div>-</div></div>
                <div ng-hide="partido.away_result == null" flex>{{partido.away_result}}</div>
                <div ng-show="partido.away_result == null" flex layout="row" layout-align="center center"><input type="number" min="0" max="15" ng-model="resVisitante" /></div>
                <div flex="25" layout="row" layout-align="center center"><div flex="60">{{partido.away_team | uppercase}}</div></div>
                <div flex="5" layout="row" layout-align="center center">
                    <button class="btn btn-default glyphicon glyphicon-ok" ng-click="posiciones.confirmarResultado(partido, resLocal, resVisitante)"></button>
                </div>
            </div>
          
            <md-divider></md-divider>
        </md-list-item>
        <md-button ng-click="posiciones.finalizarFecha(posiciones.fechaActual.gameId, posiciones.fechaActual.gameNumber)">Finalizar Fecha</md-button>
    </div>

    <div ng-if="posiciones.fechaAnterior.gameNumber == posiciones.torneo.fixture.totalGames">
        <md-button ng-click="posiciones.finalizarTorneo()">Finalizar Torneo</md-button>
    </div>

</div>
      
    
    
        
             
    
        
      


