<md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-around center">
        <md-button ng-link="torneo({id: posiciones.id })">Torneo</md-button>
        <md-button ng-link="posiciones({id: posiciones.id })">Posiciones</md-button>
        <md-button ng-disabled="true">Promedios</md-button>
        <md-button ng-link="fixture({ id: posiciones.id })">Fixture</md-button>
        <md-button ng-disabled="true">Equipos</md-button>
        <md-button ng-disabled="true">A las Copas</md-button>
    </div>
</md-toolbar>

<div layout="row" layout-align="space-around start">
    <div flex="45" layout-padding>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th class="col-md-1">Pts</th>
                    <th class="col-md-1">J</th>
                    <th class="col-md-1">G</th>
                    <th class="col-md-1">E</th>
                    <th class="col-md-1">P</th>
                    <th class="col-md-1">GF</th>
                    <th class="col-md-1">GC</th>
                    <th class="col-md-1">Dif</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipo in posiciones.torneo.teams">
                    <td>{{equipo.name}}</td>
                    <td class="col-md-1">{{equipo.points}}</td>
                    <td class="col-md-1">{{equipo.played}}</td>
                    <td class="col-md-1">{{equipo.won}}</td>
                    <td class="col-md-1">{{equipo.draws}}</td>
                    <td class="col-md-1">{{equipo.lost}}</td>
                    <td class="col-md-1">{{equipo.goalsFor}}</td>
                    <td class="col-md-1">{{equipo.goalsAgainst}}</td>
                    <td class="col-md-1">{{equipo.goalDifference}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div flex="45" layout="column">
        <div layout-padding ng-repeat="fecha in posiciones.torneo.fixture.games | filter: {isCurrent: true}">
            <h2>FECHA {{fecha.gameId}}</h2>
            <md-divider></md-divider>
            <md-list-item ng-repeat="partido in fecha.matches" layout="row">
                <div flex="25" layout="column">
                    <div>FECHA</div>
                    <div>HORA</div>
                </div>
                <div flex="30">{{partido.homeTeam}}</div>
                <div flex="5">{{partido.homeResult}}</div>
                <div flex="5">{{partido.awayResult}}</div>
                <div flex="30">{{partido.awayTeam}}</div>
                <md-divider></md-divider>
            </md-list-item>
            <md-button ng-click="posiciones.finalizarFecha()">Finalizar Fecha</md-button>
        </div>
        <span flex></span>
        <div layout-padding ng-show="posiciones.anteriorFechaId != 0">
            <h2>Última fecha</h2>
            <md-divider></md-divider>
            <md-list-item ng-repeat="partido in posiciones.fechaAnterior.matches" layout="row">
                <div flex="30">{{partido.homeTeam}}</div>
                <div flex="5">{{partido.homeResult}}</div>
                <div flex="5">{{partido.awayResult}}</div>
                <div flex="30">{{partido.awayTeam}}</div>
            </md-list-item>
        </div>
    </div>
        
      
</div>

